<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abilix.dialogdemo"
    android:versionCode="9"
    android:versionName="1.0.0.9">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


</manifest>